<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Liste des Quiz
                    <button class="btn btn-rounded btn-primary" (click)="addQuizDialog()">
                        <span class="material-icons">
                            add_task
                        </span>
                    </button>
                </h6>

            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    #
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Date de Création</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Date de Début</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Nombre de Questions</th>
                                <th class="text-secondary opacity-7"></th>
                                <th class="text-secondary opacity-7"></th>
                                <!-- <th class="text-secondary opacity-7"></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let quiz of listqui">
                                <th>
                                    <div class="d-flex px-2 py-1">
                                        <h6 class="mb-0 text-sm">{{quiz.idQ}}</h6>
                                    </div>
                                </th>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{quiz.dateC | date : 'dd MMMM , yyyy'}} à {{quiz.dateC | date : 'HH:MM'}}</p>
                                </td>
                                <td>
                                    <span></span>
                                    <p class="text-xs font-weight-bold mb-0">{{quiz.dateS | date : 'dd MMMM,yyyy'}}</p>
                                </td>
                                <td class="align-middle text-center">
                                    <span
                                        class="text-secondary text-xs font-weight-bold">{{quiz.questions.length}} <span *ngIf="quiz.questions.length == 5">(Maximum)</span></span>
                                </td>
                                <td class="align-middle">
                                    <button class="btn btn-dark" *ngIf="quiz.questions.length != 0"  (click)="popUpQuestions(quiz.questions)" >Questions</button>
                                    <button class="btn btn-dark" *ngIf="quiz.questions.length == 0"  disabled >Questions</button>
                                </td>
                                <td class="align-middle">
                                    <button class="btn btn-success" color="primary"
                                        (click)="popUpAddQuestion(quiz.idQ)">+ Question</button>
                                </td>
                                <td class="align-middle">
                                    <button class="btn btn-danger" color="warn"
                                        (click)="confirmDelete(quiz.idQ)">Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>