<h3 *ngIf="bestEvent.idE">Meilleur Evenement</h3>
<div  *ngIf="bestEvent.idE" align="center">
  <div class="card" style="width: 18rem;">
    <img *ngIf="bestEvent.image" class="card-img-top" [src]="convert(bestEvent.image.content)" alt="Card image cap">
    <img *ngIf="!bestEvent.image" src="../../assets/tbe.png">
    <div class="card-body">
      <h5 class="card-title">{{bestEvent.titre}}</h5>
      <p class="card-text">{{bestEvent.description}}</p>
      <p class="card-text">De {{bestEvent.dateStart | date : 'dd MMMM yyyy'}} à {{bestEvent.dateEnd | date : 'dd MMMM yyyy'}}</p>
      <p class="card-text">Nombre de Participants : {{bestEvent.participants.length}}</p>
      <a (click)="participer(bestEvent.idE)" class="btn btn-primary"><span
          class="material-icons">done</span>&nbsp;Participer</a>
    </div>
  </div>
</div>



<h3>Evenements Disponibles ({{listeven.length}})</h3>

  <div class="card-group">
    <div *ngFor="let e of listeven" class="card" style="width: 18rem;">
      <img *ngIf="e.image" class="card-img-top" [src]="convert(e.image.content)" alt="Card image cap">
      <img *ngIf="!e.image" src="../../assets/tbe.png">
      <div class="card-body">
        <h5 class="card-title">{{e.titre}}</h5>
        <p class="card-text">{{e.description}}</p>
        <p class="card-text">De {{e.dateStart | date : 'dd MMMM yyyy'}} à {{e.dateEnd | date : 'dd MMMM yyyy'}}</p>
        <a (click)="participer(e.idE)" class="btn btn-primary"><span
            class="material-icons">done</span>&nbsp;Participer</a>
      </div>
    </div>
  </div>